<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
    </system.web>
    
  <!--XXXXXXXXXXXXX C O N E X I O N E S   A   BD  XXXXXXXXXXXXXXX-->
  <connectionStrings>
    <add name="Consultorio" connectionString="Server=(local);Database=Consultorio;Trusted_Connection=Yes;" />
    <add name="xpf.printing" connectionString="xpoprovider=MSSqlServer;data source=(localdb)\v11.0;attachdbfilename=|DataDirectory|\ReportService.mdf;integrated security=True;connect timeout=120" />
    <add name="ConsultorioConnectionString" connectionString="Data Source=DESKTOP-128MBOP\SQLEXPRESS;Initial Catalog=Consultorio;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConsultorioConnectionString2" connectionString="Data Source=DESKTOP-128MBOP\SQLEXPRESS;Initial Catalog=Consultorio;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
